* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f5f5f5;
}

.container {
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  /* column-gap: 10px;
  row-gap: 10px; */
  /* grid-auto-rows: 200px; */
  /* grid-auto-rows: minmax(200px, auto); */
  /* grid-template-rows: repeat(3, 1fr); */
}

.item {
  padding: 20px;

  background: steelblue;
  color: #fff;
  font-size: 20px;
  border: skyblue 1px solid;
}
